* {
padding: 0;
margin: 0;
}


html {
	background-color: #fff;
}

body {
	width: 960px;
	background-color: #A8A8A8;
	margin: 0 auto;
}

nav {
	display: block;
	float: right;
	width: 600px;
	padding: 5px;

}

nav li {
	list-style-type: none;
	width: 100px;
	float: left;
}

nav a {
	text-decoration: none;
	color: #000;

}

nav a:hover {
	text-decoration: underline;
}

nav a:active {
	color: #fff;
}

h1 {
	clear: both;
	margin-left: 20px;
}

h2 {
	font-size: 14px;
	text-indent: 20px;
	margin-top: 10px;
}

p {
	margin-left: 20px;
	margin-bottom: 10px;
	width: 800px;
}

ul {
	margin-left: 100px;
	margin-bottom: 20px;
}

ol {
	margin-left: 100px;
	margin-bottom: 20px;
}

#wrapper {
	width: 920px;
	background-color: #fff;
	margin: 0 auto;
	border-top: 30px #A8A8A8 solid;
	border-bottom: 30px #A8A8A8 solid;
	margin-top: 20px;
}
